<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userMapper">

   	<select id="idCheck" resultType="kr.co.vo.UserVO">
		SELECT * FROM USERINFO WHERE ID=#{id}
	</select>
	
	<!-- 전체 유저 불러오기 -->
	<select id='userList' resultType="HashMap" >
		
		SELECT MP.*
		 FROM ( 
				SELECT U.ID, NAME, MAIL, PHONE, S1.SUBNM AS APRVNM, S.SUBNM AS AUTHNM, DELFLAG, REGDTM, U.USERNO, ROW_NUMBER() OVER(ORDER BY USERNO DESC) AS RNUM
				FROM USERINFO U
				INNER JOIN SUBCOMMON S
				ON U.AUTH = S.SUBID
				INNER JOIN SUBCOMMON S1
				ON U.USERSTATUS  = S1.SUBID
				WHERE 1=1 
	         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY RNUM DESC

	</select>
	
	<!-- 상태 불러오기 -->
	<select id='aprvJoin' resultType="HashMap">
		<![CDATA[
		SELECT S.SUBNM AS APRVNM
		FROM USERINFO U
		INNER JOIN SUBCOMMON S
		ON U.USERSTATUS  = S.SUBID
		WHERE USERNO BETWEEN #{start} AND #{end}
		ORDER BY REGDTM DESC
    	]]>
	</select>
	
	<!-- 회원가입 -->
	<insert id='joinUser'>
	    <selectKey keyProperty="userNo" resultType="java.lang.Integer" order="BEFORE">
        select USER_SEQ.NEXTVAL from dual
    	</selectKey>
		<![CDATA[
		INSERT INTO USERINFO(USERNO, NAME, ID, PASSWORD, MAIL, AUTH, REGDTM, PHONE) VALUES(#{userNo}, #{name}, #{id}, #{password}, #{mail}, #{auth}, sysdate, #{phone})
    	]]>
	</insert>
	
	<!-- 로그인 -->
	<select id='login' resultType="kr.co.vo.UserVO">
		<![CDATA[
		SELECT ID, PASSWORD, AUTH, NAME, USERNO, USERSTATUS FROM USERINFO WHERE ID=#{id}
    	]]>
	</select>
	
	<!-- 한명의 회원 불러오기 -->
	<select id='oneInfo' resultType="kr.co.vo.UserVO">
		<![CDATA[
		SELECT * FROM USERINFO WHERE ID=#{id}
    	]]>
	</select>
	
	<!-- 회원정보 수정 -->
	<update id='updateUser'>
		<![CDATA[
		UPDATE USERINFO SET PHONE=#{phone}, NAME=#{name}, MAIL=#{mail} WHERE ID = #{id}
    	]]>
	</update>
	
	<!-- 권한 찾기 -->
	<select id='oneAuth' resultType="java.lang.String">
		<![CDATA[
		SELECT AUTH FROM USERINFO WHERE ID = #{id}
    	]]>
	</select>
	
		<!-- 권한 찾기 -->
	<select id='oneNo' resultType="java.lang.Integer">
		<![CDATA[
		SELECT USERNO FROM USERINFO WHERE ID = #{id}
    	]]>
	</select>
	
	<!-- 총 유저 갯수 출력 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM USERINFO WHERE 1=1
		<include refid="search"></include>	
	</select>
	
	<!-- 가입승인 -->
	<update id='aprvUser'>
		UPDATE USERINFO set USERSTATUS = 'aprv' where USERNO=#{userNo}
	</update>
	
	<!-- 가입거절 -->
	<update id='refuseUser'>
		UPDATE USERINFO set USERSTATUS = 'refuse' where USERNO=#{userNo}
	</update>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND AUTHNM LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND APRVNM LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND NAME LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND ID LIKE '%' || #{keyword} || '%'</if>
		</if>
	</sql>
	
</mapper>